:root {
    --primary-color: #160D08; /*Preto Background*/
    --secundary-color: #FFF1E6; /*Branco Bonito*/
    --terciary-color: #080402; /*Preto Bonito*/
}
body {
    background-color: #160D08;
    margin: 0;
}
a {
    text-decoration: none;
}
.navbar {
    background-color: #FFF1E6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 23px;
}
.links {
    background-color: #FFF1E6;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font: bold 25px Courier;
    color: #666362;
}
.itens.active > .links, .links:hover {
    color: #080402;
}
.itens {
    position: relative;
}
.itens-drop {
    position: absolute;
    left: 0;
    top: calc(100% + 1.5rem);
    background-color: #FFF1E6;
    padding: 1.5rem;
    border-radius: .55rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}
.itens.active > .links + .itens-drop {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-heading {
    font: bold 25px Courier;
}
.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}
.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .55rem;
    padding: 3px;
}
.dropdown-links a {
    color: #666362;
}

.login-form > input {
    margin-bottom: .5rem;
}

.container {
    color: white;
}