:root {
    --primary-color: #160D08; /*Preto Background*/
    --secundary-color: #FFF1E6; /*Branco Bonito*/
    --terciary-color: #FFEA00; /*Preto Bonito*/
}

body {
    background-color: var(--primary-color);
    font: bold 25px Courier;
    margin: 0;
}
.space1 {
    margin: 90px;
}
.container {
    width: clamp(500px, 25%, 700px);
    margin: auto;
}
.login-container {
    background-color: var(--secundary-color);
    box-shadow: 0px 0px 10px var(--primary-color);
    border-radius: .5rem;
    text-align: center;
    padding: 35px;
}
.login-enter {
    display: grid;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
}

.enter{
    margin: auto;
}
.sign-button {
    background-color: #080402;
}
input {
    border-radius: .5rem;
    border: #080402 solid 2px;
    max-width: 100%;
    padding: 10px;
    font: bold 20px Courier;
}
fieldset {
    border-radius: .5rem;
    background-color: #FFF1E6;
    box-shadow: 10px 10px 1px #080402;
    border: #080402 solid 2px;
}
legend {
    background-color: var(--primary-color);
    color: #FFF1E6;
    border-radius: .5rem;
    border: #080402 solid 2px;
    box-shadow: 0px 0px 5px #080402;
    padding: .3rem;
    pointer-events: none;
}
.enter {
    text-align: right;
    padding: 10px;
}